@charset "UTF-8";
/* Title input */
#title .title-wrap {
  padding: 15px;
}

/* /title input */
/* Products table */
.panel-heading.block-heading {
  padding: 10px 15px;
}

.add-btn {
  padding: 6px 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.add-btn i {
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.add-btn:hover {
  background-color: #008f00;
}

.select-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.select-icon:hover {
  color: green;
}
.select-icon.active {
  color: green;
}

.delete-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.delete-icon:hover {
  color: orange;
}
.delete-icon.active {
  color: orange;
}

.cancel-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cancel-icon:hover {
  color: red;
}
.cancel-icon.active {
  color: red;
}

/* /products table */
/* Revisions */
.carousel-content .carousel-title a {
  display: block;
  position: relative;
}
.carousel-content .carousel-title a:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 0;
}
.carousel-content .carousel-title a.collapsed:before {
  content: "";
}

.revision {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* /revisions */
/* Actions */
#actions .action {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
#actions .action.block-heading {
  padding: 7px 15px;
}

.action-btn {
  width: 32px;
  height: 32px;
  line-height: 27px;
  padding: 0 !important;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.action-btn i {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.approve-btn {
  border-color: #79d279;
  color: #79d279;
}
.approve-btn i {
  color: #79d279;
}
.approve-btn:hover {
  border-color: green;
  background-color: green;
}
.approve-btn:hover i {
  color: #fff;
}

.cancel-btn {
  border-color: #ff9999;
  color: #ff9999;
}
.cancel-btn i {
  color: #ff9999;
}
.cancel-btn:hover {
  border-color: red;
  background-color: red;
}
.cancel-btn:hover i {
  color: #fff;
}

/* /actions */
/* Details */
.details-list {
  padding: 0;
}
.details-list ul {
  padding: 0;
  margin: 0;
}
.details-list ul .list-group-divider {
  margin: 0;
}

/* /details */
/* Approvals */
.block-list {
  padding-left: 20px;
}
.block-list .block-item {
  padding: 10px 5px;
}

#approvals .icon {
  color: #b3b3b3;
}
#approvals .icon.active {
  color: green;
}
#approvals .position {
  padding-left: 0;
}

/* /approvals */
/* Documents */
#documents .block-list {
  padding-left: 0;
}
#documents .block-list .document {
  padding-left: 0;
}

/* /documents */
/* Save button */
.save-btn {
  font-size: 17px;
}

/* /save button */
/* Schedule */
#schedule {
  display: inline-block;
}

#schedule-type {
  width: 50%;
  float: left;
  line-height: 27px;
}
#schedule-type .schedule-type {
  font-size: 14px;
}

#template {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 50%;
}
#template .templates {
  width: 50%;
}

#full-time-schedule {
  margin-bottom: 50px;
}
#full-time-schedule .full-time-wrap {
  display: -webkit-flex;
  display: flex;
  border: 1px solid #ddd;
}

.full-time-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #ddd;
}
.full-time-item:first-child {
  border-left: none;
}
.full-time-item .full-time-header {
  border-bottom: 1px solid #ddd;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.full-time-content {
  display: -webkit-flex;
  display: flex;
  padding: 10px;
}
.full-time-content .work-time {
  width: 55px;
  text-align: center;
}
.full-time-content .work-time .work-time-input {
  padding: 0 5px;
  font-size: 17px;
  font-weight: normal;
  height: auto;
  border: 1px solid #ddd;
}
.full-time-content .work-time .work-time-input:-moz-placeholder {
  font-size: 14px;
  color: #d9d9d9;
  font-weight: normal;
}
.full-time-content .work-time .work-time-input::-moz-placeholder {
  font-size: 14px;
  color: #d9d9d9;
  font-weight: normal;
}
.full-time-content .work-time .work-time-input:-ms-input-placeholder {
  font-size: 14px;
  color: #d9d9d9;
  font-weight: normal;
}
.full-time-content .work-time .work-time-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #d9d9d9;
  font-weight: normal;
}
.full-time-content .work-time-divider {
  padding: 5px;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  color: #ddd;
}
.full-time-content .work-time-divider i {
  font-size: 10px;
}

.time-content {
  height: 100%;
}
.time-content .time {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.time-content .time p {
  padding: 18px 0 8px;
  margin: 0;
}

.check-input {
  text-align: center;
  padding-top: 10px;
}
.check-input .checker span {
  border: 2px solid #e6e6e6;
}
.check-input .checker span.checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
}

#part-time-schedule {
  display: none;
}
#part-time-schedule .part-time-wrap {
  border: 1px solid #ddd;
}

.part-time-item {
  padding: 20px 0;
  display: -webkit-flex;
  display: flex;
}
.part-time-item:first-child {
  border-bottom: 1px solid #ddd;
}
.part-time-item:last-child {
  padding: 10px 0;
}
.part-time-item .table-item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 10px 0;
}
.part-time-item .table-item label {
  margin-bottom: 0;
  font-weight: 500;
  width: 60%;
}
.part-time-item .table-item select {
  width: 40%;
}
.part-time-item .table-item .start-date-input {
  border-bottom-style: solid;
  padding: 0 10px;
}

.part-time-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
}
.part-time-content p {
  margin-bottom: 0;
  font-weight: 500;
}

.save {
  padding: 20px 0 0;
}

/* /schedule */
/* Info */
#info .info-title i {
  font-size: 20px;
}

.employee-avatar {
  position: absolute;
  right: 50px;
  top: 20px;
}

.employee-info-input {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.employee-info-input .control-label {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 5px;
  font-weight: 500;
}
.employee-info-input input.form-control {
  padding: 0 20px 0 10px;
  font-size: 15px;
}

/* /info */
