@charset "UTF-8";
/* Title input */
#title .title-wrap {
  padding: 15px;
}

/* /title input */
/* Products table */
.panel-heading.block-heading {
  padding: 10px 15px;
}

.add-btn {
  padding: 6px 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.add-btn i {
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.add-btn:hover {
  background-color: #008f00;
}

.select-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.select-icon:hover {
  color: green;
}
.select-icon.active {
  color: green;
}

.delete-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.delete-icon:hover {
  color: orange;
}
.delete-icon.active {
  color: orange;
}

.cancel-icon {
  color: #b3b3b3;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cancel-icon:hover {
  color: red;
}
.cancel-icon.active {
  color: red;
}

/* /products table */
/* Revisions */
.carousel-content .carousel-title a {
  display: block;
  position: relative;
}
.carousel-content .carousel-title a:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 0;
}
.carousel-content .carousel-title a.collapsed:before {
  content: "";
}

.revision {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* /revisions */
/* Actions */
#actions .action {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
#actions .action.block-heading {
  padding: 7px 15px;
}

.action-btn {
  width: 32px;
  height: 32px;
  line-height: 27px;
  padding: 0 !important;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.action-btn i {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.approve-btn {
  border-color: #79d279;
  color: #79d279;
}
.approve-btn i {
  color: #79d279;
}
.approve-btn:hover {
  border-color: green;
  background-color: green;
}
.approve-btn:hover i {
  color: #fff;
}

.cancel-btn {
  border-color: #ff9999;
  color: #ff9999;
}
.cancel-btn i {
  color: #ff9999;
}
.cancel-btn:hover {
  border-color: red;
  background-color: red;
}
.cancel-btn:hover i {
  color: #fff;
}

/* /actions */
/* Details */
.details-list {
  padding: 0;
}
.details-list ul {
  padding: 0;
  margin: 0;
}
.details-list ul .list-group-divider {
  margin: 0;
}

/* /details */
/* Approvals */
.block-list {
  padding-left: 20px;
}
.block-list .block-item {
  padding: 10px 5px;
}

#approvals .icon {
  color: #b3b3b3;
}
#approvals .icon.active {
  color: green;
}
#approvals .position {
  padding-left: 0;
}

/* /approvals */
/* Documents */
#documents .block-list {
  padding-left: 0;
}
#documents .block-list .document {
  padding-left: 0;
}

/* /documents */
/* Save button */
.save-btn {
  font-size: 17px;
}

/* /save button */
/* Schedule */
th {
  text-align: center;
}

td {
  text-align: center;
}

.schedule-header li a {
  text-transform: capitalize;
  font-size: 14px;
}

.schedule-table {
  overflow-x: visible;
}

.schedule-table-body td {
  padding: 12px 3px !important;
}
.schedule-table-body td .checker span {
  color: green;
  border: 2px solid #ddd;
}
.schedule-table-body td .checker span.checked {
  border-color: transparent;
}

.working-hours {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.working-hours .work-time p {
  text-align: left;
  margin: 0;
  padding: 3px;
}
.working-hours .work-time .work-time-input {
  padding: 3px;
  border-style: solid;
  font-weight: normal;
}
.working-hours .work-time .work-time-input:-moz-placeholder {
  font-size: 10px;
  color: #d9d9d9;
}
.working-hours .work-time .work-time-input::-moz-placeholder {
  font-size: 10px;
  color: #d9d9d9;
}
.working-hours .work-time .work-time-input:-ms-input-placeholder {
  font-size: 10px;
  color: #d9d9d9;
}
.working-hours .work-time .work-time-input::-webkit-input-placeholder {
  font-size: 10px;
  color: #d9d9d9;
}
.working-hours .work-time-divider {
  padding: 0 5px 10px;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  color: #ddd;
}

#part-time-schedule .table-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 0;
}
#part-time-schedule .table-item label {
  margin-bottom: 0;
  font-weight: 600;
  width: 50%;
}
#part-time-schedule .table-item .days-number {
  width: 30%;
}
#part-time-schedule .work-time {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#part-time-schedule .work-time p {
  margin: 0 10px;
}

.part-time-table-col {
  width: calc(100% / 3);
}

.start-date p {
  font-weight: 600;
}
.start-date .start-date-input {
  border-bottom-style: solid;
}

.save {
  padding: 20px 0 0;
}

/* /schedule */
/* Info */
#info .info-title i {
  font-size: 20px;
}

.employee-avatar {
  position: absolute;
  right: 50px;
  top: 20px;
}

.employee-info-input {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.employee-info-input .control-label {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 5px;
  font-weight: 500;
}
.employee-info-input input.form-control {
  padding: 0 20px 0 10px;
  font-size: 15px;
}

/* /info */
